* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

/* Going for a darkish theme */
body {
    background-color: #1B1B1B;
}

/* Adjusting size of text and color. Specific padding for more space on the left and right */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #3F403F; 
}

header span {
    font-size: 50px;
    background: #FFC58F;
    color: #1B1B1B;
    font-weight: bold;
    padding: 25px 100px 25px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: right;
    flex-direction: row;
    flex-wrap: wrap;
    background: #3F403F; 
}

ul {
    display: flex;
    list-style-type: none;
    height: 100px;
    width: 750px;
    justify-content: space-evenly;
}

/* Gave heignt to ul element so that line-height with text aling would center here */
li {
    display: inline-block;
    line-height: 100px;
    text-align: center;
    color: #FFC58F;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}

ul a {
    text-decoration: none;
}

/* Displaying as flex and setting the justify and align so that element feature-title will align accordingly on X and Y axis */
.feature {
    height: 300px;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1647025640481-6f97b1033df1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80");
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

/* Background banner and special title within */
.feature-title {
    background-color: #8EA1F7;
    padding: 5px 10px;
    margin: 30px 35px;
    font-size: 30px;
    font-weight: 800;
}

main section {
    display: flex;
    margin: 30px 125px;
    justify-content: space-between;
    flex-wrap: wrap;
}

main section .content p {
    color: #8EA1F7;
    flex-wrap: wrap;
}

main section .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main section .title {
    flex: 0 0 25%;
    font-size: 40px;
    border-right: solid 5px #E0C8FF;
    text-align: right;
    padding-right: 40px;
    color: #E0C8FF;
    flex-wrap: wrap;
}

main section .content {
    flex: 0 0 65%;
    padding-left: 40px;
    flex-wrap: wrap;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex: 1 0 400px;
    margin: 10px;
    height: 200px;
    background-color: #FFC58F;
    position: relative;
}

.project.star {
    flex: 2 1 800px;
    height: 400px;
}

.star.one {
    background-image: url(../images/pstart.png);
    background-position: center center;
    border: solid 3px #FFC58F;
}

.star.two {
    background-image: url(../images/p2start.png);
    background-position: center center;
    border: solid 3px #FFC58F;
}

.weather {
    background-image: url(../images/weatherdefault.png);
    background-position: center center;
    border: solid 3px #FFC58F;
}

.planner {
    background-image: url(../images/plannerdefault.png);
    background-position: center center;
    border: solid 3px #FFC58F;
}

.quiz {
    background-image: url(../images/quizdefault.png);
    background-position: center center;
    border: solid 3px #FFC58F;
}

.password {
    background-image: url(../images/passgendefault.png);
    background-position: center center;
    border: solid 3px #FFC58F;
}

.project-name {
    position: absolute;
    left: 0px;
    bottom: 20px;
    background-color: #FFC58F;
    padding: 20px;
}

div.project-name h3, div.project-name span{
    color: #1B1B1B;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact-info li {
    color: #8EA1F7;
}

@media screen and (max-width: 1170px) {
    header {
        justify-content: center;
        text-align: center;
      }
    
    span {
        width: 100%;
    }

    main section .content, main section .title {
        flex: 0 0 100%;
        text-align: left;
        padding: 5px;
    }

    main section .title {
        border-right: none;
        border-bottom: solid 3px #E0C8FF;
        padding: 5px;
    }
}

@media screen and (max-width: 900px) {
    .feature {
        justify-content: center;
        text-align: center;
    }

    .project {
        flex: 0 0 100%;
    }

    .project.star {
        height: 200px;
        flex: 1 0 100%;
    }

    .contact-info ul {
        flex-direction: column;
    }
}